// there are the styles for the header, footer, the grid system, etc
nav {
	@include flexContainer($direction: row, $justifyContent: space-between);

	background-color: $background-dark;
	color: $white-med;
	padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    z-index: 50;
	& .main-logo {
		color: $blue-light;
		font-size: 2rem;
		font-weight: 700;
	}
}

main {
	@include flexContainer($direction: row, $justifyContent: center);

    background-color: $background-dark;
	padding: 5rem 0 0 0;
}

.options-panel {
    @include flexContainer($direction: row, $justifyContent: flex-start);

    padding: 0 1rem;
    width: 100%;
    & .filter-buttons-container {
        @include flexContainer($direction: row, $justifyContent: center);

        @include responsive-mobile{
            display: none;
        }
    }
    & .icon-button {
        @include svgButton();
    }
}

.game-container {
    @include flexContainer($direction: row, $justifyContent: center);
    
    padding: 1rem;
    & #page-scroll-anchor {
        scroll-margin-top: 5rem;
    }
}